<nav class="main-nav">
	<div class="wrapper main-nav__wrapper">
		<ul class="main-nav__list">
			{% for route in global.routes.web %}
				{% if route.condition == 'url' %}
					<li class="main-nav__item">
						<a href="{{ route.url }}"
						   class="main-nav__link {% if route.is_active %}main-nav__link--active{% endif %}">
							{{ route.menu_title }}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</nav>
