.idea/

sitemap.xml
wp-config.php
wp-content/plugins/hello.php
wp-content/uploads/

wp-content/themes/run/vendor/
wp-content/themes/run/node_modules/
wp-content/themes/run/theme/cache/
wp-content/themes/wpemerge-starter-theme/
