<!doctype html>
<html lang="ru_RU">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
        <title>{{ global.site_title }}</title>
		<meta name="description" content="Персональный журнал для ведения статистики, хранения и отслеживания результатов в беге, записи впечатлений от забегов"/>
	{% endblock %}
    <link rel="stylesheet" type="text/css" href="/wp-content/themes/run/theme/dist/styles/main.css?ver={{ global.theme_version }}" media="all"/>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118656330-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-118656330-2');
	</script>

</head>
<body class="body">
<div class="layout">
    {% include "templates/partials/header.twig" %}
    {% include "templates/partials/main-nav-toggle.twig" %}
    {% include "templates/partials/main-nav.twig" %}

    {% block content %}
    {% endblock %}

</div>
{% include "templates/partials/footer.twig" %}

<script src="/wp-content/themes/run/theme/dist/scripts/main.js?ver={{ global.theme_version }}"></script>

{% block footer %}
{% endblock %}
</body>
</html>
