<aside class="aside">
	<div class="aside__section statistics">
		<div class="statistics__header">
			<h3 class="statistics__heading">Статистика</h3>
		</div>
		<div class="statistics__content">
			<div class="statistics__row statistics__row--total-distance">
				<div class="statistics__row-title">пробежал</div>
				<div><span class="statistics__total-distance">1 286,9</span>км</div>
			</div>
			<div class="statistics__row">
				<div class="statistics__row-title">лучшее время</div>
			</div>
			<div class="statistics__row">
				<span class="statistics__distance">1 км</span> <span class="statistics__distance-value">4:00</span>
			</div>
			<div class="statistics__row">
				<span class="statistics__distance">1 миля</span> <span class="statistics__distance-value">6:43</span>
			</div>
			<div class="statistics__row">
				<span class="statistics__distance">5 км</span> <span class="statistics__distance-value">22:34</span>
			</div>
			<div class="statistics__row">
				<span class="statistics__distance">10 км</span> <span class="statistics__distance-value">46:07</span>
			</div>
			<div class="statistics__row">
				<span class="statistics__distance">полумарафон</span> <span class="statistics__distance-value"><a
						href="https://my5.raceresult.com/138795/15705/Certificate%2021km" target="_blank">1:41:56,4</a></span>
			</div>
			<div class="statistics__row statistics__row--marathon">
				<span class="statistics__distance">марафон</span> <span class="statistics__distance-value">-</span>
			</div>
			<div class="statistics__row">
				<div class="statistics__row-title">забегов</div>
				<span class="statistics__big-number">134</span>
			</div>
			<div class="statistics__row">
				<div class="statistics__row-title">стартов</div>
				<span class="statistics__big-number">20</span>
			</div>
		</div>
		<span class="statistics__date">ведется с 5.05.2019</span>
	</div>

	<div class="starts starts--inner">
		<h3 class="starts__heading">Ближайшие старты</h3>
		<ul class="starts__list">
			<li class="starts__item">
				<span class="starts__date">02.11</span>
				<div class="starts__header">
					<span class="starts__place">Киев, Пуща Водица</span></div>
				<a href="" class="starts__link" target="_blank">Каланча трейл</a>
				<div class="starts__event-distance"><span>21</span>км</div>
			</li>
			<li class="starts__item">
				<span class="starts__date">10.11</span>
				<div class="starts__header">
					<span class="starts__place">Киев, Дарница</span></div>
				<a href="" class="starts__link" target="_blank">Осенний кубок "Днепровская десятка"</a>
				<div class="starts__event-distance"><span>10.8</span>км</div>
			</li>
		</ul>
	</div>

	<div class="aside__section last-results">
		<h3 class="aside__section-heading">Последние результаты</h3>
		<div class="last-results__content">
			<ul class="last-results__list">
				<li class="last-results__item">
					<div class="last-results__event last-results__event--race-nation">
						<span class="last-results__event-date">10.10.2019</span>
						<div class="last-results__event-title">Race Nation Bukovel <br> <span>(Team Standart)</span></div>
						<div class="last-results__event-distance"><span>10</span>км+/<span>25</span>obs.+</div>
					</div>
					<div class="last-results__result">
						<span class="last-results__time">7/13</span>
						<div class="last-results__info">
							<span class="last-results__diff">11:12:30</span>
						</div>
					</div>
				</li>
				<li class="last-results__item">
					<div class="last-results__event">
						<span class="last-results__event-date">10.10.2019</span>
						<span class="last-results__event-title">Wizz Air Kyiv city Marathon</span>
						<div class="last-results__event-distance"><span>21.085</span>км</div>
					</div>
					<div class="last-results__result">
						<span class="last-results__time">1:41:56,4</span>
						<div class="last-results__info">
							<span class="last-results__personal-best">ЛР</span>
							<span class="last-results__diff">-01:00</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="aside__section">
		<h3 class="aside__section-heading">Мои кроссовки</h3>
		<ul class="sneakers">
			<li class="sneakers__item">
				<div class="sneakers__title">
					<span class="sneakers__brand">Hoke One One</span>
					<span class="sneakers__model"><a href="#">Gaviota 2</a></span>
				</div>
				<div class="sneakers__distance">854.6<span>км</span></div>
			</li>
			<li class="sneakers__item">
				<div class="sneakers__title">
					<span class="sneakers__brand">Hoke One One</span>
					<span class="sneakers__model"><a href="#">Mafate Speed 2</a></span>
				</div>
				<div class="sneakers__distance">47<span>км</span></div>
			</li>
			<li class="sneakers__item">
				<div class="sneakers__title">
					<span class="sneakers__brand">Saucony</span>
					<span class="sneakers__model"><a href="#">Excursion TR12</a></span>
				</div>
				<div class="sneakers__distance">243.5<span>км</span></div>
			</li>
			<li class="sneakers__item">
				<div class="sneakers__title">
					<span class="sneakers__brand">Asics</span>
					<span class="sneakers__model"><a href="#">GT 1000 9</a></span>
				</div>
				<div class="sneakers__distance">201<span>км</span></div>
			</li>
		</ul>
	</div>
</aside>
