<section class="aside__section accessories">
	<h2 class="aside__section-heading">Аксесуары</h2>
	<ul class="accessories__list">
		<li class="accessories__item">
			<span class="accessories__type">Часы</span>
			<div class="accessories__name">Polar - Vantage M</div>
		</li>
		<li class="accessories__item">
			<span class="accessories__type">Датчик ЧСС</span>
			<div class="accessories__name">Polar - H10 N</div>
		</li>
		<li class="accessories__item">
			<span class="accessories__type">Беговой рюкзак</span>
			<div class="accessories__name">Inov-8 -<br> Race Ultra Pro 5 Vest</div>
		</li>
	</ul>
</section>
