<div class="distance-chart">
	<div class="wrapper distance-chart__wrapper">
		<h2 class="distance-chart__heading">Киллометраж</h2>
		<div class="distance-chart__legend chart-legend">
			<div class="chart-legend__item">
				<span class="chart-legend__box chart-legend__box--black"></span> <span class="chart-legend__title">Киллометраж</span>
			</div>
			<div class="chart-legend__item">
				<span class="chart-legend__box chart-legend__box--grey"></span> <span class="chart-legend__title">Количество тренировок</span>
			</div>
		</div>
		<div class="distance-chart__holder">
			<canvas class="distance-chart__content" id="distance-chart" height="400px"></canvas>
		</div>
	</div>
</div>
