<div class="aside__section">
    <h3 class="aside__section-heading">Мои кроссовки</h3>
    <ul class="sneakers">
        <li class="sneakers__item">
            <div class="sneakers__title">
                <span class="sneakers__brand">Hoke One One</span>
                <span class="sneakers__model"><a href="#">Gaviota 2</a></span>
            </div>
            <div class="sneakers__distance">854.6<span>км</span></div>
        </li>
        <li class="sneakers__item">
            <div class="sneakers__title">
                <span class="sneakers__brand">Hoke One One</span>
                <span class="sneakers__model"><a href="#">Mafate Speed 2</a></span>
            </div>
            <div class="sneakers__distance">47<span>км</span></div>
        </li>
        <li class="sneakers__item">
            <div class="sneakers__title">
                <span class="sneakers__brand">Saucony</span>
                <span class="sneakers__model"><a href="#">Excursion TR12</a></span>
            </div>
            <div class="sneakers__distance">243.5<span>км</span></div>
        </li>
        <li class="sneakers__item">
            <div class="sneakers__title">
                <span class="sneakers__brand">Asics</span>
                <span class="sneakers__model"><a href="#">GT 1000 9</a></span>
            </div>
            <div class="sneakers__distance">201<span>км</span></div>
        </li>
    </ul>
</div>
