<div class="aside__section statistics">
	<div class="statistics__header">
		<h3 class="statistics__heading">Статистика</h3>
	</div>
	<div class="statistics__content">
		<div class="statistics__row statistics__row--total-distance">
			<div class="statistics__row-title">пробежал</div>
			<div><span class="statistics__total-distance">1 286,9</span>км</div>
		</div>
		{% if pb_results is not empty %}
			<div class="statistics__row">
				<div class="statistics__row-title">лучшее время</div>
			</div>
			{% for result in pb_results %}
				<div class="statistics__row">
					<span class="statistics__distance">{{ result.title }}</span>
					<span class="statistics__distance-value">{{ result.value }}</span>
				</div>
			{% endfor %}
		{% endif %}
		<div class="statistics__row">
			<div class="statistics__row-title">забегов</div>
			<span class="statistics__big-number">134</span>
		</div>
		<div class="statistics__row">
			<div class="statistics__row-title">стартов</div>
			<span class="statistics__big-number">20</span>
		</div>
	</div>
	<span class="statistics__date">ведется с 5.05.2019</span>
</div>
