<section class="training">
    <header class="training__header">
        <div class="training__header-layout">
            <h2 class="training__heading">Мои тренировки</h2>
            <a href="https://www.strava.com/athletes/34095188" title="Мой профиль в Strava" class="training__strava-logo" target="_blank">
                <img src="/wp-content/themes/run/dist/images/strava-logo.svg" alt="Strava">
            </a>
        </div>
        <div class="training__header-layout">
            <p class="training__count"><span>23</span> тренировки за последние 4 недели</p>
            <p class="training__count"><span>230</span>км пробежал за ноябрь</p>
        </div>
    </header>

    <ul class="training__list">
        <li class="training__item">
            <div class="training__item-header">
                <a href="" class="training__title">Afternoon run</a>
                <span class="training__date">22.10.2019</span>
            </div>
            <p class="training__description">
                + Warm up 5km<br>
                + Cool down 4km+
            </p>
            <div class="training__info">
                <div class="training__distance">
                    <span class="training__info-value">31,11</span><span class="training__info-km">км</span>
                    <span class="training__info-title">Дистанция</span>
                </div>
                <div class="training__time">
                    <span class="training__info-value">2:50:14</span>
                    <span class="training__info-title">Время</span>
                </div>
                <div class="training__pace">
                    <span class="training__info-value">5:28</span><span class="training__info-km">/км</span>
                    <span class="training__info-title">Темп</span>
                </div>
            </div>
            <p class="training__sneakers">Hoka One One Mafate Speed 2</p>
        </li>
        <li class="training__item">
            <div class="training__item-header">
                <a href="" class="training__title">Eveningn run</a>
                <span class="training__date">20.10.2019</span>
            </div>
            <div class="training__info">
                <div class="training__distance">
                    <span class="training__info-value">31,11</span><span class="training__info-km">км</span>
                    <span class="training__info-title">Дистанция</span>
                </div>
                <div class="training__time">
                    <span class="training__info-value">2:50:14</span>
                    <span class="training__info-title">Время</span>
                </div>
                <div class="training__pace">
                    <span class="training__info-value">5:28</span><span class="training__info-km">/км</span>
                    <span class="training__info-title">Темп</span>
                </div>
            </div>
        </li>
        <li class="training__item">
            <div class="training__item-header">
                <a href="" class="training__title">Intervals 8 x 40"/2'</a>
                <span class="training__date">16.10.2019</span>
            </div>
            <div class="training__info">
                <div class="training__distance">
                    <span class="training__info-title">Дистанция</span>
                    <span class="training__info-value">31,11</span><span class="training__info-km">км</span>
                </div>
                <div class="training__time">
                    <span class="training__info-title">Время</span>
                    <span class="training__info-value">2:50:14</span>
                </div>
                <div class="training__pace">
                    <span class="training__info-title">Темп</span>
                    <span class="training__info-value">5:28</span><span class="training__info-km">/км</span>
                </div>
            </div>
        </li>
        <li class="training__item">
            <a href="" class="training__title">Eveningn run</a>
            <div class="training__info">
                <div class="training__distance">
                    <span class="training__info-title">Дистанция</span>
                    <span class="training__info-value">9,0</span><span class="training__info-km">км</span>
                </div>
                <div class="training__time">
                    <span class="training__info-title">Время</span>
                    <span class="training__info-value">2:50:14</span>
                </div>
                <div class="training__pace">
                    <span class="training__info-title">Темп</span>
                    <span class="training__info-value">5:28</span><span class="training__info-km">/км</span>
                </div>
            </div>
        </li>
        <li class="training__item">
            <div class="training__item-header">
                <a href="" class="training__title">Eveningn run</a>
                <span class="training__date">20.10.2019</span>
            </div>
            <div class="training__info">
                <div class="training__distance">
                    <span class="training__info-value">31,11</span><span class="training__info-km">км</span>
                    <span class="training__info-title">Дистанция</span>
                </div>
                <div class="training__time">
                    <span class="training__info-value">2:50:14</span>
                    <span class="training__info-title">Время</span>
                </div>
                <div class="training__pace">
                    <span class="training__info-value">5:28</span><span class="training__info-km">/км</span>
                    <span class="training__info-title">Темп</span>
                </div>
            </div>
        </li>
    </ul>
</section>
