{% extends "templates/layouts/base.twig" %}

{% block head %}
    <title>Журнал бегуна - Записи</title>
{% endblock %}

{% block content %}
    <main>

        <div class="posts-preview posts-preview--inner">
            <div class="wrapper posts-preview__wrapper">
                <h2 class="heading posts-preview__heading">Записи</h2>
                <ul class="posts-preview__list">
                    <li class="posts-preview__item posts-preview__item--grey">
                        <span class="posts-preview__date2">12.10.2019</span>
                        <h3 class="posts-preview__title"><a href="/single.html">Как я пробежал свои первые 30 киллометров</a></h3>
                        <p class="posts-preview__excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat...
                        </p>
                        <ul class="posts-preview__categories">
                            <li class="posts-preview__categories-item">
                                <a href="#" class="posts-preview__categories-link">Race Nation</a>
                            </li>
                            <li class="posts-preview__categories-item">
                                <a href="#" class="posts-preview__categories-link">Забеги</a>
                            </li>
                        </ul>
                    </li>
                    <li class="posts-preview__item">
                        <span class="posts-preview__date2">6.10.2019</span>
                        <h3 class="posts-preview__title"><a href="/single.html">Race Nation Буковель 2019</a></h3>
                        <p class="posts-preview__excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat...
                        </p>
                        <ul class="posts-preview__categories">
                            <li class="posts-preview__categories-item">
                                <a href="#" class="posts-preview__categories-link">Тренировки</a>
                            </li>
                        </ul>
                    </li>
                    <li class="posts-preview__item posts-preview__item--black ">
                        <span class="posts-preview__date2">6.10.2019</span>
                        <h3 class="posts-preview__title"><a href="/single.html">Race Nation Буковель 2019</a></h3>
                        <p class="posts-preview__excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat...
                        </p>
                        <ul class="posts-preview__categories">
                            <li class="posts-preview__categories-item">
                                <a href="#" class="posts-preview__categories-link">Тренировки</a>
                            </li>
                        </ul>
                    </li>
                    <li class="posts-preview__item">
                        <span class="posts-preview__date2">11.09.2019</span>
                        <h3 class="posts-preview__title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
                        <p class="posts-preview__excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.
                        </p>
                        <ul class="posts-preview__categories">
                            <li class="posts-preview__categories-item">
                                <a href="#" class="posts-preview__categories-link">Тренировки</a>
                            </li>
                        </ul>
                    </li>

                    <li class="posts-preview__item posts-preview__item--grey">
                        <span class="posts-preview__date2">12.10.2019</span>
                        <h3 class="posts-preview__title"><a href="/single.html">Как я пробежал свои первые 30 киллометров</a></h3>
                        <p class="posts-preview__excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat...
                        </p>
                        <ul class="posts-preview__categories">
                            <li class="posts-preview__categories-item">
                                <a href="#" class="posts-preview__categories-link">Race Nation</a>
                            </li>
                            <li class="posts-preview__categories-item">
                                <a href="#" class="posts-preview__categories-link">Забеги</a>
                            </li>
                        </ul>
                    </li>
                    <li class="posts-preview__item">
                        <span class="posts-preview__date2">11.09.2019</span>
                        <h3 class="posts-preview__title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
                        <p class="posts-preview__excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.
                        </p>
                        <ul class="posts-preview__categories">
                            <li class="posts-preview__categories-item">
                                <a href="#" class="posts-preview__categories-link">Тренировки</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </main>
{% endblock %}
