{% extends "templates/layouts/base.twig" %}

{% block head %}
	<title>Календар - {{ global.site_title }}</title>
	<meta name="description" content="Майбутні бігові події, в яких я планую брати участь або вже придбав слот"/>
{% endblock %}

{% block content %}
	<main>
		<div class="calendar">
			<div class="wrapper calendar__wrapper">
				<header class="calendar__header">
					<h1 class="heading calendar__heading">Мій календар</h1>
					<p class="calendar__caption">
						Забіги, в яких я планую брати участь або на які вже зареєструвався.
					</p>
				</header>

				{% for state in events %}
					{% include "templates/partials/calendar/events-group.twig" with { state: state } %}
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
