{% extends "templates/layouts/base.twig" %}

{% block head %}
	<title>Календарь - {{ global.site_title }}</title>
	<meta name="description" content="Предстоящие беговые события в которых я планирую участвовать или уже приобрел слот"/>
{% endblock %}

{% block content %}
	<main>
		<div class="calendar">
			<div class="wrapper calendar__wrapper">
				<header class="calendar__header">
					<h1 class="heading calendar__heading">Мой календарь</h1>
					<p class="calendar__caption">
						Забеги в которых я планирую принимать участие или на которые уже зарегистрировался.
					</p>
				</header>

				{% for state in events %}
					{% include "templates/partials/calendar/events-group.twig" with { state: state } %}
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
