{% extends "templates/layouts/base.twig" %}

{% block content %}

	<div class="wrapper wrapper--two-columns">
		<main class="main main--front-page">
			{% include "templates/partials/front-page/latest-posts.twig" %}
		</main>
		<aside class="aside">
			{% include "templates/partials/common/statistics.twig" %}
			{% include "templates/partials/common/shoes.twig" %}
			{% include "templates/partials/front-page/last-results.twig" %}

		</aside>
	</div>
{% endblock %}
