{% extends "templates/layouts/base.twig" %}

{% block head %}
    <title>Журнал бегуна - История</title>
{% endblock %}

{% block content %}
    <main>
        <div class="history">
            <div class="wrapper history__wrapper">

                <ul class="history__years">
                    <li class="history__years-item">
                        <button class="history__year history__year--active" type="button" data-year="2019">2019</button>
                    </li>
                    <li class="history__years-item">
                        <button class="history__year" type="button" data-year="2020">2020</button>
                    </li>
                </ul>

                <div class="time-line">
                    <span class="time-line__designation time-line__designation--left">OCR, трейлы</span>
                    <span class="time-line__designation time-line__designation--right">Шоссе</span>
                    <ul class="time-line__list">
                        <li class="event event--right time-line__item">
                            <span class="event__pb">PB</span>
                            <div class="event__header">
                                <span class="event__date">12.10.2019</span>
                                <span class="event__place">Киев, Украина</span>
                            </div>
                            <h3 class="event__title">Wizz Air Kyiv City Marathon</h3>
                            <div class="event__distance">21,085<span>км</span></div>
                            <div class="event__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam.
                            </div>
                            <div class="event__result">
                                <span class="event__result-time">1:41:57,4</span> <span class="event__result-pace">4:47 / km</span>
                                <table class="event__result-places">
                                    <tr>
                                        <td>aбс.:</td>
                                        <td>300 / 2344</td>
                                    </tr>
                                    <tr>
                                        <td>муж.:</td>
                                        <td>100 / 1020</td>
                                    </tr>
                                    <tr>
                                        <td>в. 30 - 38:</td>
                                        <td> 20 / 134</td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <li class="event event--left time-line__item">
                            <div class="event__header">
                                <span class="event__date">19.10.2019</span>
                                <span class="event__place">Буковель, Украина</span>
                            </div>
                            <h3 class="event__title">Race Nation Bukovel</h3>
                            <div class="event__distance">Team Standart <span>10km+ / 25obs.+</span></div>
                            <div class="event__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam.
                            </div>
                            <div class="event__result">
                                <span class="event__result-time">7 / 13</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
