{% extends "templates/layouts/base.twig" %}

{% block head %}
    <title>Номера - {{ global.site_title }}</title>
	<meta name="description" content=""/>
{% endblock %}

{% block content %}
    <main>

        <!-- NUMBERS start -->
        <div class="numbers">
            <div class="numbers__wrapper">
                <ul class="numbers__list">
                    <li class="numbers__item">
                        <div data-src="images/numbers/num-8.jpg" class="numbers__image-holder">
                            <img src="images/numbers/num-8.jpg" alt="" class="numbers__image">
                        </div>
                        <div class="numbers__info">
                            <span class="numbers__date">13.09.2019</span>
                            <span class="numbers__event">Wizz Air Marathon</span>
                        </div>
                    </li>
                    <li class="numbers__item">
                        <div data-src="images/numbers/num-9.jpg"  class="numbers__image-holder">
                            <img src="images/numbers/num-9.jpg" alt="" class="numbers__image">
                        </div>
                        <div class="numbers__info">
                            <span class="numbers__date">13.09.2019</span>
                            <span class="numbers__event">Race Nation Lviv</span>
                        </div>
                    </li>
                    <li class="numbers__item">
                        <div data-src="images/numbers/num-1.jpg"  class="numbers__image-holder">
                            <img src="images/numbers/num-1.jpg" alt="" class="numbers__image">
                        </div>
                        <div class="numbers__info">
                            <span class="numbers__date">13.09.2019</span>
                            <span class="numbers__event">Wizz Air Marathon 2019</span>
                        </div>
                    </li>
                    <li class="numbers__item">
                        <div data-src="images/numbers/num-8.jpg"  class="numbers__image-holder">
                            <img src="images/numbers/num-2.jpg" alt="" class="numbers__image">
                        </div>
                        <div class="numbers__info">
                            <span class="numbers__date">13.09.2019</span>
                            <span class="numbers__event">Wizz Air Marathon 2019</span>
                        </div>
                    </li>
                    <li class="numbers__item">
                        <div data-src="images/numbers/num-8.jpg"  class="numbers__image-holder">
                            <img src="images/numbers/num-3.jpg" alt="" class="numbers__image">
                        </div>
                        <div class="numbers__info">
                            <span class="numbers__date">13.09.2019</span>
                            <span class="numbers__event">Wizz Air Marathon 2019</span>
                        </div>
                    </li>
                    <li class="numbers__item">
                        <div data-src="images/numbers/num-8.jpg"  class="numbers__image-holder">
                            <img src="images/numbers/num-4.jpg" alt="" class="numbers__image">
                        </div>
                        <div class="numbers__info">
                            <span class="numbers__date">13.09.2019</span>
                            <span class="numbers__event">Wizz Air Marathon 2019</span>
                        </div>
                    </li>
                    <li class="numbers__item">
                        <div data-src="images/numbers/num-8.jpg"  class="numbers__image-holder">
                            <img src="images/numbers/num-5.jpg" alt="" class="numbers__image">
                        </div>
                        <div class="numbers__info">
                            <span class="numbers__date">13.09.2019</span>
                            <span class="numbers__event">Wizz Air Marathon 2019</span>
                        </div>
                    </li>
                    <li class="numbers__item">
                        <div data-src="images/numbers/num-8.jpg"  class="numbers__image-holder">
                            <img src="images/numbers/num-6.jpg" alt="" class="numbers__image">
                        </div>
                        <div class="numbers__info">
                            <span class="numbers__date">13.09.2019</span>
                            <span class="numbers__event">Wizz Air Marathon 2019</span>
                        </div>
                    </li>
                    <li class="numbers__item">
                        <div data-src="images/numbers/num-8.jpg"  class="numbers__image-holder">
                            <img src="images/numbers/num-7.jpg" alt="" class="numbers__image">
                        </div>
                        <div class="numbers__info">
                            <span class="numbers__date">13.09.2019</span>
                            <span class="numbers__event">Wizz Air Marathon 2019</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- NUMBERS end -->

    </main>
{% endblock %}
