{% extends "templates/layouts/base.twig" %}

{% block head %}
	<title>Результати - {{ global.site_title }}</title>
	<meta name="description" content="Усі результати офіційних забігів у яких я брав участь"/>
{% endblock %}

{% block content %}
	<main>
		<div class="results">
			<div class="wrapper results__wrapper">
				<header class="results__header">
					<h1 class="heading results__heading">Мої результати</h1>
					<p class="results__caption">
						Тут зібрані результати всіх офіційних забігів та тренувань (з фіксацією результату), у яких я
						брав участь. Результати я поділив на групи:<br>
						{% for type in results %}
							<a href="{{ '#' ~ type.key }}">{{ type.title }}</a><br>
						{% endfor %}
					</p>
				</header>

				{% for type in results %}
					{% include "templates/partials/results/results-group.twig" with { type: type } %}
				{% endfor %}

			</div>
		</div>
	</main>
{% endblock %}
