{% extends "templates/layouts/base.twig" %}

{% block head %}
	<title>Результаты - {{ global.site_title }}</title>
	<meta name="description" content="Все результаты официальных забегов в которых я принимал участие"/>
{% endblock %}

{% block content %}
	<main>
		<div class="results">
			<div class="wrapper results__wrapper">
				<header class="results__header">
					<h1 class="heading results__heading">Мои результаты</h1>
					<p class="results__caption">
						Тут собраны результаты всех официальных забегов и тренировок (с фиксацией результата), в которых
						я принимал участие. Результаты я резделил на группы:<br>
						{% for type in results %}
							<a href="{{ '#' ~ type.key }}">{{ type.title }}</a><br>
						{% endfor %}
					</p>
				</header>

				{% for type in results %}
					{% include "templates/partials/results/results-group.twig" with { type: type } %}
				{% endfor %}

			</div>
		</div>
	</main>
{% endblock %}
