.aside {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 56px;
  padding-top: 40px;

  @media (min-width: 767px) {
    display: none;
  }

  @media (min-width: 1023px) {
    display: block;
    width: 400px;
    margin-bottom: 0;
    padding-left: 40px;
    padding-top: 0;
    box-sizing: border-box;
  }

  @media (min-width: 1919px) {
    width: 440px;
  }
}

.aside__section {
  position: relative;
  padding: 0 32px 0;
  margin-bottom: 32px;
  box-sizing: border-box;

  @media (min-width: 767px) {
    width: 48%;
    margin-bottom: 0;
  }

  @media (min-width: 1023px) {
    width: 100%;
    margin-bottom: 56px;
  }

  @media (min-width: 1919px) {
    padding: 0 40px 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.aside__section-heading {
  margin: 0 0 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-align: right;
  color: $color-black;
}

.aside__sneakers-toggle {
  -webkit-appearance: none;
  display: block;
  margin: 0 0 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $color-black;
  background-color: $color-white;
  border: none;
  border-bottom: 1px dashed $color-black;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  opacity: 1;
}

.desktop .aside__sneakers-toggle {
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
  }
}
