.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  display: block;
  width: 100%;
  padding: 20px 0;
  color: $color-white;
  background-color: $color-black;

  @media (min-width: 1023px) {
    padding: 28px 0;
  }
}

.footer__wrapper {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

.footer__copy {
  margin: 0 0 20px;
  font-size: 14px;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 0;
    text-align: left;
    font-size: 12px;
  }
}
