.image-box {
  position: relative;
  left: -16px;
  display: block;
  width: calc(100% + 32px);
  margin: 20px 0;

  @media (min-width: 374px) {
    left: -24px;
    width: calc(100% + 48px);
  }

  @media (min-width: 768px) {
    left: 0;
    width: 100%;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.image-box__link {
  display: block;
  width: 100%;
}

.image-box__image {
  display: block;
  width: 100%;
  height: auto;
}

.image-box__caption {
  display: block;
  width: calc(100% - 32px);
  padding-top: 12px;
  margin: 0 auto;
  text-align: right;
  font-weight: 300;
  font-size: 16px;

  @media (min-width: 374px) {
    width: calc(100% - 48px);
  }

  @media (min-width: 768px) {
    width: 100%;
  }
}
