.popular-posts {
  display: none;

  @media (min-width: 1023px) {
    flex-shrink: 0;
    display: block;
    width: 320px;
    padding: 32px;
    box-sizing: border-box;
    background-color: #f1f1f1;
  }

  @media (min-width: 1919px) {
    width: 348px;
    padding: 40px;
  }
}

.popular-posts__heading {
  margin: 0 0 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-align: right;
  color: $color-black;
}

.popular-posts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.popular-posts__item {
  margin-bottom: 28px;
  text-align: right;

  &:last-child {
    margin-bottom: 0;
  }
}

.popular-posts__date {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
}


.popular-posts__title {
  color: $color-black;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
}

.desktop .popular-posts__title {
  opacity: 1;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
  }
}
