.trainings {
  padding: 24px 0;

  @media (min-width: 767px) {
    padding: 32px 0;
  }

  @media (min-width: 1023px) {
    padding: 36px 0;
  }

  @media (min-width: 1439px) {
    padding: 64px 0;
  }
}

.trainings__heading {
  margin-bottom: 24px;
  @media (min-width: 1439px) {
    margin-bottom: 36px;
  }

  @media (min-width: 1919px) {
    margin-bottom: 48px;
  }
}

.trainings__subheading {
  margin: 0 0 24px;
  font-family: Montserrat,sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1;
  color: #000;

  &--month-list {
    margin-bottom: 0;
    margin-right: 16px;
  }
}

.trainings__layout {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    display: flex;
  }

  @media (min-width: 1280px) {
    margin-bottom: 52px;
  }
}
