.training {
  flex-shrink: 0;
  margin-bottom: 32px;
  box-sizing: border-box;

  @media (min-width: 767px) {
    width: 52%;
    margin-bottom: 0;
    padding: 0 32px;
  }

  @media (min-width: 1919px) {
    padding: 0 40px;
  }
}

.training__header {
  margin-bottom: 28px;
}

.training__header-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &:first-child {
    margin-bottom: 4px;
  }
}

.training__count {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 100%;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 1;

  span {
    display: block;
    margin-right: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 24px;
  }
}

.training__heading {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
}

.training__strava-logo {
  display: block;
  width: 100px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.training__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.training__item {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

  @media (min-width: 1023px) {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.training__item-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.training__title {
  display: inline-block;
  max-width: calc(100% - 72px);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 18px;

  a {
    color: $color-black;
    text-decoration: none;
    border-bottom: 1px dotted $color-black;
  }

  @media (min-width: 1920px) {
    font-size: 20px;
  }
}

.desktop .training__title a {
  opacity: 1;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
  }
}

.training__date {
  font-size: 14px;
  font-weight: 300;
}

.training__info {
  padding-top: 20px;
}

.training__info-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.training__info-item {
  flex-shrink: 0;
  min-width: 28%;
}

.training__info-value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 20px;

  &--light {
    font-weight: 700;
    font-size: 18px;
  }

  @media (min-width: 768px) {
    font-size: 24px;

    &--light {
      font-size: 20px;
    }
  }
}

.training__info-title {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #646464;
}

.training__info-km {
  font-weight: 300;
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.training__additional-info {
  margin: 0;
  padding-top: 12px;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}

.training__additional-info-title {
  display: inline-block;
  margin-right: 4px;
  font-size: 14px;
  font-weight: 300;
  color: #646464;
  text-transform: lowercase;
}

.training__description {
  margin: 8px 0 0;
  font-size: 14px;
  font-weight: 400;
}
